html,
body {
    height: 100%;
    transition: 0.3s;
}

header {
    position: absolute;
    width: 100%;
}

#view-mode {
    float: right;
    margin: 7px 10px 0 0;
    border-radius: 20px;
    padding: 4px 9px;
    box-shadow: 3px 3px 3px #898989;
    border: none;
    max-width: 135px;
    width: 100%;
}

#view-mode:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.header-sec {
    padding: 10px;
    margin-top: 1vh;
}

.header-row {
    align-items: center;
}

.header-logo a:hover {
    color: #5a5a5a;
    text-decoration: none;
}

.header-row .header-searchbar {
    text-align: right;
}

/* style for light mode */

.lightMode-toggled {
    background-color: #000;
    color: #FFF;
}

.light-mode .header-logo a {
    color: #000;
}

.light-mode .header-row .header-searchbar input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    padding-left: 5px;
    height: 35px;
    max-width: 230px;
    width: 100%;
}

.light-mode .header-row .header-searchbar input::placeholder {
    color: #606060;
}

/* style for dark mode */

.darkMode-toggled {
    background-color: #FFF;
    color: #000;
}

.dark-mode .header-logo a {
    color: #fff;
}

.header-row .header-searchbar input:focus,
#view-mode:focus {
    outline: none;
}

.dark-mode .header-row .header-searchbar input {
    background: transparent;
    border: none;
    color: #FFF;
    border-bottom: 2px solid #FFF;
    padding-left: 5px;
    height: 35px;
    max-width: 230px;
    width: 100%;
}

.dark-mode .header-row .header-searchbar input::placeholder {
    color: #dbdbdb;
}

h2, p, span {
    font-family: 'Poppins', sans-serif;
}

.main-con {
    height: inherit;
    padding-top: 5vh;
}

.main-con .movie-row {
    justify-content: center;
    padding-bottom: 2em;
}

.main-con .movie-column {
    padding: 15px;
}

img {
    width: 100%;
    max-height: 350px;
    height: 100%;
}

.main-con h2 {
    margin: 0.4em 0;
    text-align: center;
    font-size: 2.2em;
}

p {
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
}